{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>
<p>This is the final project for the CS50 course, developed by me. Feel free to use and modify this project. Below are the technologies used:</p>
<ul>
    <li>Python</li>
    <li>Flask</li>
    <li>Pillow</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Bootstrap</li>
</ul>
<img src="{{ url_for('static', filename='images/cs50logo.jpg') }}" alt="CS50 Logo" class="img-fluid mt-3">

<h2>Contact Me</h2>
<p>You can reach out to me through the following platforms:</p>
<div class="contact-icons">
    <a href="https://www.instagram.com/leoluis.as/" target="_blank" class="social-link">
        <i class="fab fa-instagram social-icon"></i>
    </a>
    <a href="https://www.facebook.com/leonardo.schneider.9/" target="_blank" class="social-link">
        <i class="fab fa-facebook-f social-icon"></i>
    </a>
    <a href="https://www.linkedin.com/in/leonardo-luis-andognini-schneider-ba20a0221/" target="_blank" class="social-link">
        <i class="fab fa-linkedin-in social-icon"></i>
    </a>
    <a href="https://github.com/leonardo-schneider" target="_blank" class="social-link">
        <i class="fab fa-github social-icon"></i>
    </a>
</div>
{% endblock %}
